?0_*
b?0_*
01_data_qc/QualityControl/
01_data_qc/sequencing-metrics.csv
.ipynb_checkpoints
._*
.DS*
data*
metrics/
plots*/
result-tables/
.nextflow*
nextflow
work
container-images
nohup*.out
downsample*.txt
*downsample*.csv
ref
container-images
tmp/
confident_calls/
sampleList*.txt
