params {
    reportFolder = "${baseDir}/90_report/"

    refFolder = "/data/runScratch.boston/analysis/projects/Project_Ribarska-DNAlibs-2019-04-01/ref/"
    genomeName = "GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    genomeVersion = "NCBI"
    
    BWAmemFolder = "${baseDir}/10_bwa/"
    
    javaLocation = "/data/common/tools/jdk8/current/bin/java"
    javaHome = "/data/common/tools/jdk8/current"
    picardLocation = "/data/common/tools/picard/picard-tools-2.20.2/picard.jar"
    picardFolder = "${baseDir}/20_piccard/"

    dedupFolder = "${baseDir}/20_piccard_dd/"
    
    downSampleFolder = "${baseDir}/30_downsample/"

    bigwigFolder = "${baseDir}/40_bigwig/"

    qualimapLocation = "/data/common/tools/qualimap/qualimap_v2.2.1/qualimap"
    qualimapFolder = params.BWAmemFolder + "/qualimap/"

    vcfFolder = "${baseDir}/40_vcf/"

    gatkLocation = "/data/common/tools/GATK/gatk-4.1.2.0/gatk"

    vcfFolder = "${baseDir}/40_vcf/"

    deeptoolsSummaryFolder = "${baseDir}/50_deeptools_summary/"

    happyConfidentCallsBasePath = "${baseDir}/confident_calls/hg38/hybrid/hg38.hybrid"
    happyConfidentCallsVcf = "hg38.hybrid.vcf.gz"
    happyConfidentCallsBed = "hg38.hybrid.bed.gz"

    variantAnalysisFolder = "${baseDir}/50_variant_analysis/"

    gcBiasFolder = "${baseDir}/40_gc_bias/"

    // Parameters for workflow b
    refPath = "$baseDir/ref/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    confidentCallsPath = "$baseDir/confident_calls/hg38/hybrid"
    confidentCallsBedPath = "$confidentCallsPath/hg38.hybrid.bed.gz"
    confidentCallsVcfPath = "$confidentCallsPath/hg38.hybrid.vcf.gz"
    picardCommand = "/usr/picard/docker_helper.sh"
    gatkCommand = "gatk"
    workflowBranchId = "c"
    ref2bitPath = "$baseDir/ref/GRCh38/hg38.2bit"
}

process {
    executor = "slurm"
    // BeforeScript required by singularity for tmp
    beforeScript = "mkdir ./.singularity-tmp"
    afterScript = "rm -rf ./.singularity-tmp"
    cpus = 4
    memory = '15 GB'
    errorStrategy = 'finish'
    container  = "/data/common/tools/GATK/broadinstitute_gatk-2019-08-09-6f38924fb916.img"
    withName:bwa_mem {
        cpus = 8
    }
    withName:score {
        cpus = 16
    }
    //withName:happy {
    //    container = "/data/common/tools/hap.py/pkrusche_hap.py-2017-06-03-950903cbb619.img"
    //}

    // b workflow
    withLabel:picard_container {
        //container = "broadinstitute/picard:2.20.4"
        container = "container-images/picard-2.20.4.simg"
    }
    withLabel:gatk_container {
        //container = "broadinstitute/gatk:4.1.7.0"
        container = "container-images/gatk-4.1.7.0.simg"
    }
    withLabel:samtools_container {
        //container = "quay.io/biocontainers/samtools:1.2-0"
        container = "container-images/samtools-1.2-0.simg"
    }
    withLabel:happy_container {
        //container = "pkrusche/hap.py:v0.3.8"
        container = "container-images/hap.py-v0.3.8.simg"
    }
    withLabel:deeptools_container {
        //container = "quay.io/biocontainers/deeptools:3.4.3--py_0"
        container = "container-images/deeptools-3.4.3--py_0.simg"
    }
}

report {
    enabled = true
    file = params.reportFolder + "nextflow_report.html"
}

timeline {
    enabled = true
    file = params.reportFolder + "nextflow_timeline.html"
}

dag {
    enabled = true
    file = params.reportFolder + "nextflow_flowchart.html"
}

singularity {
    runOptions = "-B ./.singularity-tmp:/tmp"
    autoMounts = true
}

docker {
    fixOwnership = true
    temp = 'auto'
    runOptions = '-u $UID:$UID'
}