params {
    baseDir = "$baseDir"
    reportFolder = params.baseDir + "/90_report/"

    refFolder = "/data/runScratch.boston/analysis/projects/Project_Ribarska-DNAlibs-2019-04-01/ref/"
    genomeName = "GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    genomeVersion = "NCBI"
    
    BWAmemFolder = params.baseDir + "/10_bwa/"
    
    javaLocation = "/data/common/tools/jdk8/current/bin/java"
    javaHome = "/data/common/tools/jdk8/current"
    picardLocation = "/data/common/tools/picard/picard-tools-2.20.2/picard.jar"
    picardFolder = params.baseDir + "/20_piccard/"

    dedupFolder = params.baseDir + "/20_piccard_dd/"
    
    downSampleFolder = params.baseDir + "/30_downsample/"

    bigwigFolder = params.baseDir + "/40_bigwig/"

    qualimapLocation = "/data/common/tools/qualimap/qualimap_v2.2.1/qualimap"
    qualimapFolder = params.BWAmemFolder + "/qualimap/"

    vcfFolder = params.baseDir + "/40_vcf/"

    gatkLocation = "/data/common/tools/GATK/gatk-4.1.2.0/gatk"

    vcfFolder = params.baseDir + "/40_vcf/"

    deeptoolsSummaryFolder = params.baseDir + "/50_deeptools_summary/"

    happyConfidentCallsBasePath = params.baseDir + "/confident_calls/hg38/hybrid/hg38.hybrid"
    happyConfidentCallsVcf = "hg38.hybrid.vcf.gz"
    happyConfidentCallsBed = "hg38.hybrid.bed.gz"

    variantAnalysisFolder = params.baseDir + "/50_variant_analysis/"

    gcBiasFolder = params.baseDir + "/40_gc_bias/"

    cpu=2
}

process {
    executor = "slurm"
    cpus = 4
    memory = '15 GB'
    container  = "/data/common/tools/GATK/broadinstitute_gatk-2019-08-09-6f38924fb916.img"
    withName:score {
        container  = "/data/common/tools/GATK/broadinstitute_gatk-2019-08-09-6f38924fb916.img"
    }
    withName:happy {
        container = "/data/common/tools/hap.py/pkrusche_hap.py-2017-06-03-950903cbb619.img"
    }
}

report {
    enabled = true
    file = params.reportFolder + "nextflow_report.html"
}

timeline {
    enabled = true
    file = params.reportFolder + "nextflow_timeline.html"
}

dag {
    enabled = true
    file = params.reportFolder + "nextflow_flowchart.html"
}

singularity {
    enabled = false
    autoMounts = true
}

env.TMPDIR = "/data/runScratch.boston/analysis/projects/Project_Ribarska-DNAlibs-2019-04-01/tmp"

