params {
    baseDir = "$baseDir"
    reportFolder = params.baseDir + "/90_report/"

    refFolder = "/data/runScratch.boston/analysis/projects/ref/"
    genomeName = "Arabidopsis_lyrata.v.1.0.dna.toplevel.fa"
    genomeVersion = "ensembl"
    
    BWAmemFolder = params.baseDir + "/10_bwa/"
    
    javaLocation = "/data/common/tools/jdk8/current/bin/java"
    picardLocation = "/data/common/tools/picard/picard-tools-2.20.2/picard.jar"
    picardFolder = params.baseDir + "/20_piccard/"

    dedupFolder = params.baseDir + "/20_piccard_dd/"
    
    qualimapLocation = "/data/common/tools/qualimap/qualimap_v2.2.1/qualimap"
    qualimapFolder = params.BWAmemFolder + "/qualimap/"

    downSampleFolder = params.baseDir + "/30_downsample/"

    gatkLocation = "/data/common/tools/GATK/gatk-4.1.2.0/gatk"
}

process {
    executor = "slurm"
    cpus = 4
}

report {
    enabled = true
    file = params.reportFolder + "nextflow_report.html"
}

timeline {
    enabled = true
    file = params.reportFolder + "nextflow_timeline.html"
}

dag {
    enabled = true
    file = params.reportFolder + "nextflow_flowchart.html"
}




